@page "/asset/createAssetType"

<div class="col-12 grid-margin">
    @*<div class="full-page-wrapper d-flex align-items-center">*@
    <div class="card col-lg-10 mx-auto">
        <div class="card-body px-5 py-5">
            <h4 class="card-title">Registro Tipo de Activo Fijo </h4>
            <form class="form-sample">
                <div class="row"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-form-label">Tipo Activo Fijo</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-form-label">Propiedad</label>
                            <select class="form-control">
                                <option selected>-- Seleccione --</option>
                                <option>Propiedad 1</option>
                                <option>Propiedad 2</option>
                                <option>Propiedad 3</option>
                                <option>Propiedad 4</option>
                                <option>Propiedad 5</option>
                                <option>Propiedad 6</option>
                                <option>Propiedad 7</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-form-label">CPU</label>
                            <div class="table-responsive">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Propiedad</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>PROCESADOR</td>
                                            <td><label class="badge badge-danger">Quitar</label></td>
                                        </tr>
                                        <tr>
                                            <td>MEMORIA</td>
                                            <td><label class="badge badge-danger">Quitar</label></td>
                                        </tr>
                                        <tr>
                                            <td>DISCO DURO</td>
                                            <td><label class="badge badge-danger">Quitar</label></td>
                                        </tr>
                                        <tr>
                                            <td>LECTOR CD</td>
                                            <td><label class="badge badge-danger">Quitar</label></td>
                                        </tr>
                                        <tr>
                                            <td>LECTOR TARJETAS DE MEMORIA</td>
                                            <td><label class="badge badge-danger">Quitar</label></td>
                                        </tr>
                                        <tr>
                                            <td>RESOLUCIÓN VIDEO</td>
                                            <td><label class="badge badge-danger">Quitar</label></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6"></div>
                    <div class="col-md-6 ">
                        <button class="btn btn-dark">Cancelar</button>
                        <button type="submit" class="btn btn-primary mr-2">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @*</div>*@
</div>

@code {

}
