@page "/asset/createAsset"

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="full-page-wrapper d-flex align-items-cente">
                <div class="card col-lg-12 mx-auto">
                    <div class="card-body px-5 py-2">
                        <h4 class="card-title text-left mb-3">Crear Activos Fijos</h4>
                        <form class="form-sample">
                            <div class="container-fluid">
                                <p class="card-description">Propiedades Genéricas</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Código</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Categoría</label>
                                            <select class="form-control">
                                                <option selected>-- Seleccione --</option>
                                                <option>Categoría 1</option>
                                                <option>Categoría 2</option>
                                                <option>Categoría 3</option>
                                                <option>Categoría 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Fecha de Compra</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Valor de compra</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Vida Útil</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Responsable</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Ubicación</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Tipo de Activo Fijo</label>
                                            <select class="form-control">
                                                <option selected>-- Seleccione --</option>
                                                <option>Tipo Activo Fijo 1</option>
                                                <option>Tipo Activo Fijo 2</option>
                                                <option>Tipo Activo Fijo 3</option>
                                                <option>Tipo Activo Fijo 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-description">Propiedades Específicas</p>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th style="width:50%">Propiedad</th>
                                                        <th>Valor</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Propiedad 1</td>
                                                        <td>
                                                            <input type="text" class="form-control" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Propiedad 2</td>
                                                        <td>
                                                            <input type="text" class="form-control" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Propiedad 3</td>
                                                        <td>
                                                            <input type="text" class="form-control" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Propiedad 4</td>
                                                        <td>
                                                            <input type="text" class="form-control" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6 ">
                                        <button class="btn btn-dark">Cancelar</button>
                                        <button type="submit" class="btn btn-primary mr-2">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@code {

}
