@page "/asset/createAssetType"

@inject IRepository repository

<div class="col-lg-12 grid-margin">
    <div class="card col-lg-12 mx-auto">
        <div class="card-body px-5 py-2">
            <h4 class="card-title">Registro Tipo de Activo Fijo </h4>
            <form class="form-sample" OnValidSubmit="OnvalidSubmit">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="col-form-label">Tipo Activo Fijo</label>
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group" >
                                <label class="col-form-label">Propiedad</label>
                                <select class="form-control" @bind="this.Value">
                                    <option selected>-- Seleccione --</option>
                                    @foreach (var property in properties)
                                    {
                                        <option value="@property.Id">@property.Name</option>
                                    }
                                </select>
                                <div>
                                    value: @this.Value
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary mr-2" @onclick="SaveTempAsync">Adicionar</button>
                        </div>
                    </div>
                    <div class="row mb-3"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">CPU</label>
                                <div class="table-responsive">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Propiedad</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>PROCESADOR</td>
                                                <td><label class="badge badge-danger">Quitar</label></td>
                                            </tr>
                                            <tr>
                                                <td>MEMORIA</td>
                                                <td><label class="badge badge-danger">Quitar</label></td>
                                            </tr>
                                            <tr>
                                                <td>DISCO DURO</td>
                                                <td><label class="badge badge-danger">Quitar</label></td>
                                            </tr>
                                            <tr>
                                                <td>LECTOR CD</td>
                                                <td><label class="badge badge-danger">Quitar</label></td>
                                            </tr>
                                            <tr>
                                                @foreach(var id in propertyId)
                                                {
                                                    <td>@id</td>
                                                }
                                                
                                                <td><label class="badge badge-danger">Quitar</label></td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-9"></div>
                        <div class="col-md-3 ">
                            <button class="btn btn-dark">Cancelar</button>
                            <button type="submit" class="btn btn-primary mr-2">Guardar</button>
                        </div>
                    </div>
                </div>                
            </form>
        </div>
    </div>
</div>

@code {
    public AssetType assetType { get; set; } = null!;
    private List<Property>? properties { get; set; }
    private string Value = null!;
    List<string> propertyId = new List<string>();

    protected override async Task OnInitializedAsync()
    {

        var responseHttp = await repository.Get<List<Property>>("/api/properties");
        properties = responseHttp.Response;
    }

    private void SaveTempAsync()
    {
        
        propertyId.Add(Value);
    }

}
