@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <SidebarLeft />
        </div>
        <main>
            <div class="col-lg-12">
                <AuthLinks/>
                <div class="container-fluid">
                    <div class="row" style="height:100px; border:2px">
                        <SidebarTop />
                    </div>
                    <div class="row">
                        <article class="content px-4">
                            @Body
                        </article>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
